@model strICT.InFlow.Web.Models.PDesignerViewModels.PD_RefinementState_ViewModel

@using (Html.BeginForm("_EditRefinementState", "PDesigner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">Refinement State @Model.Name</div>
        <div class="panel-body">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.PD_Process_Id)
            @Html.HiddenFor(model => model.PD_Subject_Id)

            <table class="table table-striped">
                <tr>
                    <td>Name</td>
                    <td>@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>StartState</td>
                    <td>@Html.EditorFor(model => model.StartState, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>EndState</td>
                    <td>@Html.EditorFor(model => model.EndState, new { @class = "form-control" })</td>
                </tr>
              
                <tr>
                    <td>Parameter Links</td>
                    <td>

                     @foreach (var par in Model.RefinementParameters)
                     {
                        <div class="form-group">
                         
                                @par.RefinementParameter
                            <select>
                                @foreach (var i in Model.AvailableEditableParameters)
                            {
                                    <option>@i.Text</option>
                            }
                            </select>
                     <br/>
                        <small>@par.Description</small>
</div>
                        }

</td>
                </tr>
            </table>

            <div class="panel-footer text-right">
                <a title="Cancel" href="#" onclick="clearConfigPanel();return false;" class="btn btn-warning">Cancel</a>
                @if (ViewBag.Edit == 1)
                {
                    @*<a title="Delete" href="#" onclick="deleteState(@Model.Id);return false;" class="btn btn-danger">Delete</a>*@
                    <a title="Delete" href="#" onclick="showList2('deleteState(@Model.Id)');return false;" class="btn btn-danger">Delete</a>
                    <input type="submit" value="Save" class="btn btn-success" />
                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('select option').on('mousedown', function (e) {
            this.selected = !this.selected;
            e.preventDefault();
        });</script>
}
