<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>InFlow - @ViewBag.Title</title>
   
    @RenderSection("stylesheets", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.0', { packages: ['corechart'] });
    </script>
    <link rel="stylesheet" type="text/css" media="all"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("InFlow", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("ProcessEditor"))
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Processes", "Index", "Project", new { id = -1 }, new { })</li>
                            @if (User.IsInRole("CompanyAdmin"))
                            {
                                <li>@Html.ActionLink("Published Processes", "Index", "ManageBackend", new { projectId = -1 }, new { })</li>
                            }
                            <li>@Html.ActionLink("Business Objects", "Index", "ManageBOs", new { }, new { }) </li>
                        </ul>
                    </li>
                    }
                  
                    @if (User.IsInRole("ProcessEditor") || User.IsInRole("CompanyAdmin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("ProcessEditor"))
                                {
                                    <li>@Html.ActionLink("Groups&Roles", "GroupsRoles", "UserAdministration")</li>
                                }
                                @if (User.IsInRole("CompanyAdmin"))
                                {
                                    <li>@Html.ActionLink("User&Rights", "Rights", "UserAdministration")</li>
                                }
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Jobs", "Index", "Jobs", new { id = -1 }, new { })</li>
                    }
                    @if (User.IsInRole("ProcessEditor") || User.IsInRole("CompanyAdmin"))
                    {
                        <li>@Html.ActionLink("Reporting", "Index", "Reporting")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://www.strict-solutions.com">StrICT-Solutions GmbH</a></p>
        </footer>
    </div>
 
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
    </script>
</body>
</html>
